server {
    listen 80 default_server;
    server_name _;
    location / {
        proxy_pass http://{{ hostvars['react_1']['ansible_default_ipv4']['address'] }}:{{ reactapp.host.port }};
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
